@import "config.css";
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 2rem;
  max-width: 100%;
  position: sticky;
  top: 0rem;
  left: 0;
}

.header-container .logo-container {
  margin-right: 6rem;
  width: 6rem;
}

.header-container .logo-container .logo {
  width: 100%;
}

.header-container .navigation {
  padding: 0.5rem 0;
  justify-self: center;
}

.header-container .navigation ul {
  display: flex;
}

.header-container .navigation ul li {
  margin: 0 2rem;

  border: 1px solid var(--ebony-clay);
}

.header-container .navigation ul li a {
  padding: 0.5rem 1.5rem;
  color: var(--silver-tree);
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
}

.header-container .navigation ul li a:hover {
  border: 1px solid var(--silver-tree);
}

.active-navigation-link {
  border: 1px solid var(--silver-tree);
}

.header-container .user-section button {
  background-color: var(--bunker);
  border: 0;
  opacity: 0.7;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  color: var(--french-gray);
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  white-space: nowrap;
}

.header-container .user-section button:hover {
  opacity: 1;
}

.faucet-link{
  color: var(--silver-tree);
  text-decoration: none;
  border: none !important;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .header-container {
    padding: 1rem;
  }

  .header-container .navigation {
    position: fixed;
    bottom: 2rem;
    left: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-container .navigation ul li {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
  }
}
