:root {
  --ebony-clay: #222a3e;
  --french-gray: #c6c4cb;
  --royal-blue: #4555e3;
  --bunker: #07090c;
  --dolphin: #626086;
  --silver-tree: #60b098;
  --river-bed: #46525f;
  --corduroy: #556965;
  --don-juan: #644f64;
  --jacarta: #2c2663;
  --ship-gray: #463d4f;
}
