.purse-deposite-history-modal {
  background-color: var(--bunker);
  padding: 2rem;
  position: absolute;
  /* width: 30rem; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 5;
}

.purse-deposite-history-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.purse-deposite-history-modal .history-container th {
  
  white-space: nowrap;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  

}
.purse-deposite-history-modal .history-container tr {
  display: flex;
  justify-content: space-between;
}

.purse-deposite-history-modal .history-container td {
  padding: 0.5rem 1rem;
  text-align: center;
}
.table-heading{
  display: flex !important;
  padding: 0 !important;
  justify-content: space-evenly;
  justify-content: space-around !important;
  width: 100%;
  font-weight: 400;
 
}
.table-data{
  display: flex !important;
  justify-content: space-between !important;
  justify-content: space-around !important;
  
}
.purse-deposite-history-modal .history-container td.member {
  padding-left: 0;
}

.purse-deposite-history-modal .history-container td.amount {
  padding-right: 0;
}

.purse-deposite-history-modal .history-container tbody tr {
  background-color: var(--river-bed);
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}
