.purseDashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}

.back-btn-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.purseDashboard .purseDashboard-sidebar {
  width: 20%;
  background: var(--river-bed);
  height: 100%;
  left: 0;
  top: 0;
}

.purseDashboard .purseDashboard-sidebar .nav-link-container {
  margin-top: 2rem;
  padding: 3rem;
}

.purseDashboard
  .purseDashboard-sidebar
  .nav-link-container
  .display-member-button {
  padding: 0.5rem 1rem;
  background: var(--ebony-clay);
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 1rem 0;
}

.purseDashboard .purseDashboard-sidebar .nav-link-container .nav button {
  background: none;
  font-weight: bold;
}

.purseDashboard .purseDashboard-sidebar .nav-link-container .nav button:hover {
  color: var(--silver-tree);
}

.purseDashboard .purseDashboard-sidebar .nav-link-container .active {
  color: var(--silver-tree);
}

.purseDashboard .right-container {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.purseDashboard .right-container .header {
  background: var(--river-bed);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}
.purseDashboard .right-container .header .dashboard-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.purseDashboard .right-container .header .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purseDashboard .right-container .header .info .bentoBox-bal {
  margin-top: 1rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.to-bentoBox {
  background-image: linear-gradient(
    to right,
    rgb(1, 110, 218),
    rgb(217, 0, 192)
  );
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

.bento-logo {
  width: 50px;
}
.purseDashboard .right-container .header .purse-id {
  text-align: right;
  font-size: 1rem;
  color: var(--french-gray);
}

.purseDashboard .right-container .main-content {
  height: 100%;
  overflow-y: scroll;
}

.purseDashboard .right-container .main-content::-webkit-scrollbar {
  display: none;
}
