@import "./config.css";

.dex-wrapper {
  background-color: rgba(7, 9, 12, 0.7);
  margin-top: 4rem;
  border-radius: 1rem;
}

.dex-wrapper h1 {
  color: var(--french-gray);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.dex-wrapper .from-section,
.dex-wrapper .to-section {
  background-color: rgba(98, 96, 134, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(198, 196, 203, 0.5);
}

.dex-wrapper .from-section input,
.dex-wrapper .to-section input {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
  text-align: right;
  padding: 0;
  text-overflow: ellipsis;
  color: #fff;
}

.dex-wrapper .from-section input::placeholder,
.dex-wrapper .to-section input::placeholder {
  color: #fff;
}

.dex-wrapper .exchange-arrow-container {
  /* background-color: rgb(98, 96, 134); */
  display: inline-block;
  padding: 1rem;
}

.dex-wrapper .exchange-arrow-container .exchange-arrow-icon {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
}

.dex-wrapper .from-section button,
.dex-wrapper .to-section button {
  font-size: 1.5;
  font-weight: bold;
  border: none;
  outline: none;
  background: rgba(198, 196, 203, 0.4);
  border: 1px solid rgba(198, 196, 203, 0.5);
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.dex-wrapper .from-section button .crypto-dropdown-arrow-icon,
.dex-wrapper .to-section button .crypto-dropdown-arrow-icon {
  position: absolute;
  right: 0.5rem;
  font-size: 1.2rem;
}

.dex-wrapper .from-section button:hover,
.dex-wrapper .to-section button:hover {
  background: rgba(118, 100, 163, 0.3);
}

.dex-wrapper .swap-btn {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  outline: 0;
  background-color: var(--river-bed);
  border: 1px solid rgba(198, 196, 203, 0.5);
  border-radius: 1rem;
  color: var(--french-gray);
  font-size: 1.5rem;
}
